body {
	background: #fff;
	color: #000;
	padding-left:5px;
	padding-right:5px;
}

td, p, li, blockquote, a:link, a:visited, a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
} 

p {
	margin-top: 0;
}

h4 {
	font-weight: bold;
	margin: 0;
	font-size: 1.2em;
}

li {
	padding-bottom: 8px;
}

/* top navigation elements */

#topnav {
	margin-left:18px;
	border-right: 1px solid #fff;
}

#topnav td {
	padding:2px 6px 2px 6px;
	height:23px;
	background: #666;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	text-align:center;
}

#topnav .current {
	background: #666699;
}

#topnav td  a:link, #topnav td  a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: xx-small;
	white-space: nowrap;
}

#topnav td  a:hover {
	color: #fff;
	text-decoration: underline;
}

/* high low bandwidth navigation*/

#bandselect {
	margin-right: 14px;;
	padding-right: 14px;
	padding-top:10px;
}


.bandon, .bandoff {
	white-space: nowrap;
	text-align: center;
	width: 6em;
	padding: 2px 12px 2px 12px;
	margin-right: 4px;
} 

.bandon {
	background: #F0F8FA;
	border: 1px solid #333366;
}

a:hover.bandon, a:hover.bandoff  {
	text-decoration: underline !important;
}

a:link.bandon, a:visited.bandon  {
	color: #333366;
	font-weight: bold;
	text-decoration: none;
}

.bandoff {
	background: #333366;
	border: 1px solid #333366;
}

a:link.bandoff, a:visited.bandoff {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

/* img navigation elements */

a.sbutton {
	color: #fff;
	line-height: 3em;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	background: #999;
	padding: 4px 8px 4px 8px;
	border: 1px solid #fff;
}

a.sbutton:hover {
	color: #fff;
	text-decoration: underline;
}

/* image column sytles */

#textcol h2, #imagecol h2 {
	margin: 10px 0 10px 0;
	color: #333366;
	font-weight: bold;
	font-size: 1.5em;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
	font-size: 1.6em;
}

#imagecol h3, #textcol h3 {
	color: #000;
	font-weight: bold;
	font-size: 1.4em;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
	font-size: 1.5em;
}

/* text column styles */

#textcol {
	vertical-align: top;
}

#textcol p, #textcol li {
	font-size: 1.2em;
}

#textcol a {
	font-size: 1em;
	color: #636;
}

#textcol .bandon {
	color: #333366;
}

#textcol a.sbutton, #textcol .bandoff {
	color: #fff;
}

/* Audio navigation */

.audio {
	vertical-align: top;
	text-align: center;
	line-height: 2em;
}

.audio a {
	color: #636;
	font-weight: bold;
}

.audio a:hover {
	text-decoration: none;
}

.audio img {
	vertical-align: middle;
}

/* transcript box style */
div.transcript {
	width:100px;
	margin-left:8px;
	margin-bottom:8px;
	padding:4px;
	border:1px dotted #000;
	float:right;
	background-color:#CCCCCC;
	text-align:center;
}