
p {
	font-family:  Times New Roman, Arial, Verdana, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	color: #000000;
}

td {
	font-family:  Times New Roman, Arial, Verdana, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	color: #000000;
}
