html, body {
    height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #FFF;
}

div {
    height: 95%;
}

#divcenter {
	text-align: center;
}

#copyright, #conditions {
	font-size: 8pt;
}

#bold-italic {
	font-weight: bold;
	font-style: italic;
}
